div{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100%; 
    border: solid 2px var(--bordes); 
    border-radius: 50px;
}
h3{
    color: var(--titulo);
}
.divBotonSubtitulo{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
h4{
    margin: 5px 0px;
}
.botonWeb{
    padding: 5px 10px;
}
.whatsapp{
    border-color: var(--WhatsApp);
}
.whatsapp:hover{
        box-shadow: 0px 0px 20px 2px var(--WhatsApp);
}

@media (width <= 750px){
    h4{
        width: 70%;
    }
    .botonWeb{
        width: 30%;
    }
}